### <font color="brown">Problem Set 10: Pandas</font>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

---

#### Problem 1:

Perform the following actions on the DataFrame <tt>df</tt> that follows:

1. Count the number of missing (NaN) values in each column of df. Which column has the maximum number of missing values?

2. Replace the missing values in Min.Price with the column’s mean and those in Max.Price with the column’s median. 

3. You need to add a column 'Affordable' in the dataframe which has "Yes" or "No" values.<br>
For each row, the column value is determined as follows: 
- If Price is greater than 35, it is not affordable.
- If Price if less than equal to 35, check the horsepower and fuel tank capacity. For affordable, horsepower has to be greater than 150 and fuel tank has to be greater 14. 
- Finally you need the Passengers to be greater than equal to 4. 

Once the column is added, filter out the affordable (Yes) rows, and display the data sorted by price (High to Low).

4. Find the average city MPG of cars for each manufacturer

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

---

#### Problem 2

##### In this problem, you will explore a Pima Indians diabetes dataset, pimaIndiansDiabetes.csv

In [7]:
diabetes = pd.read_csv("pimaIndiansDiabetes.csv")
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35,0,33.6,0.627,50,1
1,1,85,66.0,29,0,26.6,0.351,31,0
2,8,183,NaN,0,0,23.3,0.672,32,1
3,1,89,66.0,23,94,28.1,0.167,21,0
4,0,137,40.0,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48,180,32.9,0.171,63,0
764,2,122,70.0,27,0,36.8,0.340,27,0
765,5,121,72.0,23,112,26.2,0.245,30,0
766,1,126,60.0,0,0,30.1,0.349,47,1
767,1,93,70.0,31,0,30.4,0.315,23,0

1. Place the BMI column values into one of 4 groups labeled 0, 1, 2 and 3, by splitting at 18.5, 25 and 30 respectively. (If value <= 18.5 then group 0, if 18.5 < value <= 25 then group 1, etc.)
Make sure that these values are of 'int' type.
2. Put the Age column values into one of 3 groups labeled 0, 1, and 2, by splitting at the 40th and 90th percentile values respectively.
<b>You can use the [np.percentile](https://numpy.org/doc/stable/reference/generated/numpy.percentile.html) function.</b>
3. Identify and remove outliers in the columns Glucose, SkinThickness, and Insulin.<br>
For this, in every column, discard the rows where the values are more than Q<sub>3</sub> + k(IQR) or less than Q<sub>1</sub> - k(IQR).<br>
Here, Q<sub>1</sub> is the 25th percentile value, Q<sub>3</sub> is the 75th percentile value and IQR (or Inter-Quartile Range) is Q<sub>3</sub> - Q<sub>1</sub>.<br>
'k' is an adjustable value. You can use k = 1.5 for this task. Click [here](https://www.purplemath.com/modules/boxwhisk3.htm) to read more on this.
4. Perform Min-Max scaling for the Insulin column. Read more on Min-Max scaling [here](https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-min-max-scaling).
5. Fill in the missing BloodPressure values with the average BloodPressure of the age group to which the person belongs to.

---

#### Problem 3

Plot the functions f(x) = e^(−x/10)*sin(πx) and g(x) = x*e^(−x/3) over the interval [0, 10]. Include labels for the x- and y-axes, and a legend explaining which line is which plot. Save the plot in png format.

In [1]:
from matplotlib import pyplot as plt
import math